@use 'sass:color';
@use '../../../colors.scss';
@use '../matrix-common.scss';
.matrix.flat {
    .tactic {
        margin-right: 5px;
        width: 1%;
        vertical-align: top;

        &.name,
        &.count {
            text-align: center;
            font-size: matrix-common.$sizeunit + 2px;
        }
        &.name {
            cursor: pointer;
            vertical-align: bottom;
            font-weight: bold;
            position: sticky;
            top: 0.05px;
            z-index: 9999;
            @media print {
                font-size: matrix-common.$sizeunit_print - 4px;
            }
            @include colors.adaptive-color-dark-only('background-color', color.scale(colors.color(dark-1), $lightness: 3%));
            @include colors.adaptive-color-light-only('background-color', white);
        }

        &.count {
            font-size: matrix-common.$sizeunit - 1px;
            padding-bottom: 5px;
            margin-bottom: 5px;
            position: sticky;
            top: 32px;
            z-index: 9999;
            @media print {
                font-size: matrix-common.$sizeunit_print - 4px;
            }
            @include colors.adaptive-color('border-bottom', 1px solid black, 1px solid white);
            @include colors.adaptive-color-dark-only('background-color', color.scale(colors.color(dark-1), $lightness: 3%));
            @include colors.adaptive-color-light-only('background-color', white);
        }

        .subtechniques-row.hidden {
            display: none;
        }
        .supertechnique {
            border-collapse: collapse;
            width: 100%;
            padding: 0;
            margin: 0;
            td {
                padding: 0;
                vertical-align: top;
                &.sidebar.technique {
                    min-width: 8px;
                    width: 12px;
                    padding: 0;
                    background: colors.on-color-deemphasis(body);
                    cursor: pointer;
                    vertical-align: middle;
                    .handle {
                        text-align: center;
                        vertical-align: middle;
                        transform: rotate(-90deg);
                        color: colors.color-alternate(body);
                        width: 12px;
                        height: 12px;
                        font-size: 16px;
                        line-height: 12px;
                    }
                    &.disabled {
                        background: #aaaaaa;
                        border-color: #aaaaaa;
                        box-shadow: none;
                        pointer-events: none;
                    }
                }
                &.sidebar.subtechniques {
                    svg {
                        fill: colors.on-color-deemphasis(body);
                    }
                }
                &.sidebar {
                    border-right: 2px solid colors.on-color-deemphasis(body);
                    @media print {
                        display: none;
                    }
                }
                &.technique {
                    box-shadow: 0 0 0 1px colors.on-color-deemphasis(body) inset;
                }
            }
        }

        .more-icon {
            transition: all ease 0.125s;
            vertical-align: top;
            transform: scale(0.5) rotate(-90deg);
            width: 12px;
            height: 12px;
            &.expanded {
                transform: scale(0.5);
            }
        }
    }
}
