@use 'sass:color';

@import '../colors.scss';

.app-container {
    height: 100vh;
    @include adaptive-color('background-color', color(body), color(dark-1));
}

.nav-app {
    @include adaptive-color('background-color', color(light), color.scale(color(dark), $lightness: -8%));

    tabs {
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-size: 9pt;
    }

    .version-footer {
        font-size: 7pt;
        border: none;
        background-color: transparent;
        text-align: right;
        margin-left: 16px;
        padding: 0;
        display: block;
        position: fixed;
        bottom: 16px;
        @include adaptive-color('color', on-color(light), on-color(dark-2));
        &:hover {
            text-decoration: underline;
            cursor: pointer;
        }
        @media print {
            display: none;
        }
    }
}
