@use 'sass:math' as math;
@use '../../../colors.scss';
@use '../matrix-common.scss';
.technique-cell {
    cursor: pointer;
    height: 100%;
    display: flex;
    align-items: center;
    
    position: relative;
    
    font-size: matrix-common.$sizeunit - 1px;
    line-height: matrix-common.$sizeunit;
    
    min-width: matrix-common.$sizeunit;
    min-height: matrix-common.$sizeunit;
    @include colors.adaptive-color('background-color', white, colors.color(dark-2));
    @include colors.adaptive-color('color', black, colors.on-color(dark-3));
    @media print {
        font-size: matrix-common.$sizeunit_print - 5px;
    }

    > div {
        padding: math.div(matrix-common.$sizeunit, 2) 3px;
        box-sizing: border-box;
        display: block;
        width: 100%;
        height: 100%;
    }

    &.showID:not(.showName) {
        text-align: center;
    }

    .id-name-break {
        outline-offset: -0.5px;
        outline: 1px solid rgba(colors.border-color(body), 0.5);
    }

    &:not(.editing):not(.colored):not(.supertechniquecell) {
        @include colors.adaptive-color('box-shadow', 0 0 0 1px colors.border-color(body) inset, 0 0 0 1px colors.border-color(dark-2) inset);
    }

    &.editing {
        @include colors.adaptive-color('box-shadow', 0 0 0 1px black inset, 0 0 0 1px colors.color(cell-highlight-dark-color) inset);
    }

    &.underlined {
        &.mini div:before {
            position: absolute;
            content: 'i';
            font-size: matrix-common.$sizeunit - 1px;
            text-align: center;
            width: 100%;
            top: 0;
            left: 0;
        }
        div span {
            border-bottom: 2px solid transparent;
        }
    }

    &.mini.disabled div:before {
        position: absolute;
        content: '\2715';
        font-size: matrix-common.$sizeunit -1px;
        text-align: center;
        width: 100%;
        top: 0;
        left: 0;
    }

    &.highlight {
        @include colors.adaptive-color('background', colors.color(cell-highlight-color), colors.color(cell-highlight-dark-color));
        .id-name-break {
            outline: 1px solid rgba(black, 0.5);
        }
    }

    &.unannotated {
        .sub {
            color: gray;
        }
    }
}

.sub {
    position: relative;
    font-size: 75%;
    line-height: 0;
    vertical-align: baseline;
    bottom: -0.5em;
    @media print {
        display: none;
    }
}
