@use 'sass:color';

@use '../../colors.scss';

.list-container,
.add-more {
    margin: 10px 0;
}
.item-container {
    padding: 10px;
    border: 1px solid colors.color(panel-dark);
    margin: 4px 0;

    &.hide-subscript {
        .mat-mdc-form-field + .mat-mdc-form-field {
            margin-top: 8px;
        }
    }
    .mat-mdc-form-field {
        width: 100%;
    }
}
.remove-button {
    margin-top: 8px;
    display: flex;
    justify-content: flex-end;
}
.assigned-link {
    float: left;
    @include colors.adaptive-color-dark-only('color', colors.color(dark-link) !important);
}
.assigned-link:active,
.assigned-link:visited {
    @include colors.adaptive-color-dark-only('color', colors.color(dark-link-active));
}

.divider-button-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.divider-button {
    display: flex;
    width: 100%;
    align-items: center;
    background: none;
    border: none;
    cursor: pointer;
    padding: 5px 0;
    .icon {
        font-size: 16px;
        height: 16px;
        width: 16px;
        border-radius: 3px;
        padding: 1px;
    }
    .line {
        flex: 1;
        height: 2px;
    }
    &.divider-option {
        .line,
        .icon {
            @include colors.adaptive-color('background-color', colors.color(panel-dark), colors.color(dark-4));
        }
    }
    &.divider {
        .line,
        .icon {
            @include colors.adaptive-color('background-color', color.scale(colors.color(panel-dark), $lightness: -40%), color.scale(colors.color(dark-4), $lightness: 40%));
        }
    }
    &:hover .line,
    &:hover .icon {
        @include colors.adaptive-color('background-color', colors.color(button-dark), colors.color(dark-link));
    }
}
