@use 'sass:color';

@use '../../colors.scss';

.title {
    h2 {
        display: inline-block;
        margin: 12px 0;
    }
    .mat-icon {
        vertical-align: middle;
    }
}
h4 {
    margin: 12px 0;
}
.mat-divider {
    margin: 1rem 0 !important;
}
.changelog-cells {
    padding-bottom: 1rem;
    position: relative;
}
.clear-annotations {
    position: absolute;
    top: -10px;
    right: -5px;
    padding: 6px 6px;
    background: colors.color(panel-dark);
    border-radius: 10px;
    line-height: 10px;
    cursor: pointer;
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.5);
    &:hover {
        background-color: color.scale(colors.color(panel-dark), $lightness: -5%);
    }
}

.mat-step .mat-mdc-button-base {
    @include colors.adaptive-color-dark-only('border-color', colors.color(dark-4));
    @include colors.adaptive-color-dark-only('background-color', rgba(0, 0, 0, 0));
    &:disabled {
        @include colors.adaptive-color-dark-only('color', rgba(255, 255, 255, 0.5));
    }
}

.mat-step-header .mat-step-label {
    @include colors.adaptive-color-dark-only('color', colors.on-color(dark));
}

.mat-stepper-vertical-line::before {
    @include colors.adaptive-color-dark-only('border-left-color', colors.on-color(dark));
}

.mat-mdc-paginator-container {
    min-height: unset;
}

.mat-mdc-paginator .mat-mdc-paginator-icon {
    @include colors.adaptive-color-dark-only('fill', colors.on-color(dark));
}

.mat-stepper-vertical,
.mat-mdc-paginator {
    @include colors.adaptive-color-dark-only('background-color', colors.color(dark-3));
    @include colors.adaptive-color-dark-only('color', colors.on-color(dark));
}

.stepper-content {
    padding: 6px;
}

.mat-expansion-panel:first-child .mat-expansion-panel-header,
.mat-expansion-panel-header.mat-expanded {
    @include colors.adaptive-color-dark-only('border-top', 1px solid #ffffff21);
}

.mat-expansion-panel-header-title span {
    padding-left: 1rem;
    display: inline-flex;
    align-items: center;
}

tr td {
    padding-bottom: 1rem;
}
.changelog-table {
    table-layout: fixed;
    width: 100%;
}
.narrow {
    width: 44px;
}
.button-container .button {
    display: flex;
    align-items: center;
    margin: 4px;
    .mat-icon {
        font-size: 16px;
    }
    &:disabled {
        cursor: unset;
        @include colors.adaptive-color('background-color', color.scale(colors.color(panel-dark), $lightness: 5%), colors.color(dark-2));
    }
}
.cols {
    display: flex;
    .float {
        float: left;
        padding: 6px;
    }
}
.version {
    text-align: center;
    margin-bottom: -1rem;
    a {
        text-decoration: none;
    }
}
.arrow {
    text-align: center;
    vertical-align: top;
}
.info {
    margin-top: 1.5rem;
    height: 100%;
    display: flex;
    .mat-icon {
        height: 100%;
    }
}
.wide {
    width: 100%;
}
.checkbox {
    padding: 6px;
    &.right {
        float: right;
    }
}
.checkbox-custom-label {
    display: block;
}
.summary {
    text-indent: 24px;
}
.stepper-button {
    float: right;
    padding-bottom: 24px;
    .mat-mdc-outlined-button {
        margin-left: 12px;
    }
}
.reviewed {
    color: #4bb543;
}
.disabled {
    @include colors.adaptive-color('color', rgba(0, 0, 0, 0.15), colors.color(dark-link));
}
.dndDragover .technique-cell {
    box-shadow: 0 0 0 1px colors.color(cell-highlight-color) inset !important;
}
.mat-vertical-stepper-header {
    pointer-events: none;
}
.description {
    white-space: pre-line;
    padding: 6px;
    text-align: justify;
    span {
        font-size: 14px;
    }
    &.center {
        text-align: center;
    }
}
.spinner {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;

    mat-progress-spinner circle {
        stroke: colors.on-color-deemphasis(body);
    }
}
.mat-icon {
    overflow: visible;
}
