@use 'sass:math' as math;
@import '../matrix-common.scss';
.matrix.mini {
    .header {
        text-align: left;
    }
    .tactic {
        padding: 0 5px;
    }
    .tactic.header {
        padding: 5px;
    }
    .tactic.body {
        padding-top: 5px;
        vertical-align: top;

        .cell-container {
            margin-right: math.div($sizeunit, 6);
            margin-bottom: math.div($sizeunit, 6);
            &:not(.supertechnique-group) {
                display: inline-block;
            }
            &.supertechnique-group {
                box-shadow: 0 0 0 1px on-color-deemphasis(body) inset;
                padding-top: 1px + math.div($sizeunit, 2);
                padding-left: 1px + math.div($sizeunit, 2);
                padding-bottom: math.div($sizeunit, 3);
                padding-right: math.div($sizeunit, 3);
            }
            &.supertechnique {
                box-shadow: 0 0 0 1px on-color-deemphasis(body);
            }
        }
    }
}
