@use '../../matrix/technique-cell/technique-cell.component.scss';
@use "../../../colors";

.nopointer {
    cursor: unset;
}
.section {
    margin: 4px 0;
}
.section + .section {
    border-top: 1px solid rgba(colors.border-color(body), 0.5);
}
.technique-cell {
    margin: auto;
}
.setwidth {
    max-width: 50%;
}
.mat-drawer-inner-container .technique-cell {
    @include colors.adaptive-color-dark-only('background-color', colors.color(dark-4));
}
