@use '../../../colors.scss';
@use '../matrix-common.scss';
.tactic-cell {
    padding-top: 3px;
    box-sizing: border-box;
    min-height: matrix-common.$sizeunit;
    &:not(.mini) {
        min-width: matrix-common.$sizeunit * 3;
    }
    &.mini {
        width: matrix-common.$sizeunit;
        @include colors.adaptive-color('background', black, white);
    }
    &.bordered {
        @include colors.adaptive-color('border', 1px solid colors.border-color(body), 1px solid white);
    }
}
