@use 'sass:color';

@use '../cell-popover.scss';
@use '../../../../colors.scss';
.contextmenu {
    .cover {
        z-index: 100;
        // background: red;
        // opacity: 0.5;
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        cursor: default;
    }
    .menu {
        cursor: default;
        @include cell-popover.cell-popover(0.85);
        @include colors.adaptive-color('background', rgba(80, 80, 80, 0.85), rgba(colors.color(cell-highlight-dark-color), 0.85));
        .contextMenu-section {
            &:not(:first-child) {
                border-top: 1px solid white;
                margin-top: 2px;
                padding-top: 2px;
            }
            div:not(.link-container) {
                padding: 3px;
            }
            .divider {
                border-top: 1px solid white;
                margin-top: 2px;
                padding: 2px 0 0 0 !important;
            }
            .contextMenu-button {
                cursor: pointer;
                &:hover {
                    @include colors.adaptive-color('background', colors.color(cell-highlight-color), color.scale(colors.color(cell-highlight-dark-color), $lightness: -10%));
                }
            }
        }
    }
}
